.bg-dark {
  background-color: #216192 !important;
}


.business-header{
	width: 100%;
	height: 100%;
  	}

.btn-success1 {
  color: #fff;
  background-color: #41c90d;
  text-shadow:none;
  text-anchor: h1;
}


/*estilo del footer*/
.footer-bs {
    background-color: #23619c;
	padding: 60px 40px;
	color: rgba(255,255,255,1.00);
	margin-bottom: 0px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 6px;

}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { 
	padding:10px 25px; 

}
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { 
	border-color: transparent; 
}
.footer-bs .footer-brand h2 { 
	margin:0px 0px 10px; 
}
.footer-bs .footer-brand p { 
	font-size:12px; 
	color:rgba(255,255,255,0.70); 
}

.footer-bs .footer-nav ul.pages { 
	list-style:none; 
	padding:0px; 
}
.footer-bs .footer-nav ul.pages li { 
	padding:5px 0px;
}
.footer-bs .footer-nav ul.pages a { 
	color:rgba(255,255,255,1.00); 
	font-weight:bold; 
	text-transform:uppercase; 
}
.footer-bs .footer-nav ul.pages a:hover { 
	color:rgba(255,255,255,0.80); 
	text-decoration:none; 
}
.footer-bs .footer-nav h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { 
	list-style:none; padding:0px; 
}
.footer-bs .footer-nav ul.list li { 
	padding:5px 0px;
}
.footer-bs .footer-nav ul.list a { 
	color:rgba(255,255,255,0.80); 
}
.footer-bs .footer-nav ul.list a:hover { 
	color:rgba(255,255,255,0.60); text-decoration:none; 
}

.footer-bs .footer-social ul { 
	list-style:none; padding:0px; 
}
.footer-bs .footer-social h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.footer-bs .footer-social li { 
	padding:5px 4px;
}
.footer-bs .footer-social a { 
	color:rgba(255,255,255,1.00);
}
.footer-bs .footer-social a:hover { 
	color:rgba(255,255,255,0.80); 
	text-decoration:none; 
}

.footer-bs .footer-ns h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}
.footer-bs .footer-ns p { 
	font-size:12px; 
	color:rgba(255,255,255,0.70); 

}

@media (min-width: 768px) {
	.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { 
		border-left:solid 1px rgba(255,255,255,0.10); 
	}

}
.container2 img {
    max-width: 60%;
    height: auto;
}

/*fin de estilo del footer*/

.container2{

	display: flex;
}

/*botones*/
.btn-primary {
  color: #fff;
  background-color: #488cb5;
  border-color: #488cb5;
}

.btn-primary:hover {
  color: #fff;
  background-color: #124766;
  border-color: #0062cc;
}

/*estilo del dropdown menu*/
.dropdown-menu{
	background-color: #009DE0;
	
}
/*color texto del menu dropdown*/
.dropdown-item{
	color: #fff;
}
/*fin dropdown menu*/


/*titulo index sobre imagen*/
h1
{
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 700;
	

}
/*fin titulo index sobre imagen*/


/* Inicio login  */
:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}


.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}


/*fin login */


/*imagen responsiva principal*/
.bg-cover{
 background: url('https://docencia.unach.cl/imgs/equipodd.jpg') center center;
 background-size: cover;
 color: #fff;
}
 .titulo1{
  padding-top: 20%;
 }
/* FIN imagen responsiva principal*/

 /* CONTENEDOR TEXTO E IMAGEN ABAJO DEL JUMBOTRON*/
 .img_responsiva_estrategia{
    max-width: 100%;
    padding-bottom: 2%;
    padding-top: 2%;
}

.texto-estrategias1{
  text-align: left;
  padding-left: 20%;
  padding-top: 4%;
  color: #fff;
}

.texto-estrategias2{
  text-align: left;
  padding-left: 20%;
  color: #fff;
}

.arrow-link{
  color: #fff;
  padding-left: 20%;

}
/* FIN ESTILOS CONTENEDOR TEXTO E IMAGEN ABAJO DEL JUMBOTRON*/

/*estilos links footer alianzas*/
.arrow-link1{
  color: #fff;
}
/*fin estilos links footer alianzas*/

/*Media Querys según tamaño de pantalla*/
@media (max-width: 768px) {
   .img_responsiva_estrategia {
    display: none;

  }
  }
  /*fin de Media Querys según tamaño de pantalla*/