.bg-dark {
  background-color: #216192 !important;
}


/*botones*/
.btn-primary {
  color: #fff;
  background-color: #488cb5;
  border-color: #488cb5;
}

.btn-primary:hover {
  color: #fff;
  background-color: #124766;
  border-color: #0062cc;
}
/*fin botones*/


/*inicio jumbotron*/
.jumbotron {
background-image: url("http://docencia.unach.cl/cidd/img/Banner_CIDD.png");
background-size: cover;
color: #fffef3;
text-decoration: bold;
text-shadow: 4px 4px 2px #000;
border-radius: 5px;
/*max-height: 300px;*/
}
.jumbotron-sm { padding-top: 24px;
padding-bottom: 24px; }
.jumbotron small {
color: #FFF;
}
/*fin jumbotron*/

.h1 small {
font-size: 24px;
}


/*estilo del footer*/
.footer-bs {
    background-color: #23619c;
	padding: 60px 40px;
	color: rgba(255,255,255,1.00);
	margin-bottom: 0px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 6px;

}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { 
	padding:10px 25px; 

}
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { 
	border-color: transparent; 
}
.footer-bs .footer-brand h2 { 
	margin:0px 0px 10px; 
}
.footer-bs .footer-brand p { 
	font-size:12px; 
	color:rgba(255,255,255,0.70); 
}

.footer-bs .footer-nav ul.pages { 
	list-style:none; 
	padding:0px; 
}
.footer-bs .footer-nav ul.pages li { 
	padding:5px 0px;
}
.footer-bs .footer-nav ul.pages a { 
	color:rgba(255,255,255,1.00); 
	font-weight:bold; 
	text-transform:uppercase; 
}
.footer-bs .footer-nav ul.pages a:hover { 
	color:rgba(255,255,255,0.80); 
	text-decoration:none; 
}
.footer-bs .footer-nav h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { 
	list-style:none; padding:0px; 
}
.footer-bs .footer-nav ul.list li { 
	padding:5px 0px;
}
.footer-bs .footer-nav ul.list a { 
	color:rgba(255,255,255,0.80); 
}
.footer-bs .footer-nav ul.list a:hover { 
	color:rgba(255,255,255,0.60); text-decoration:none; 
}

.footer-bs .footer-social ul { 
	list-style:none; padding:0px; 
}
.footer-bs .footer-social h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.footer-bs .footer-social li { 
	padding:5px 4px;
}
.footer-bs .footer-social a { 
	color:rgba(255,255,255,1.00);
}
.footer-bs .footer-social a:hover { 
	color:rgba(255,255,255,0.80); 
	text-decoration:none; 
}

.footer-bs .footer-ns h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}
.footer-bs .footer-ns p { 
	font-size:12px; 
	color:rgba(255,255,255,0.70); 

}

@media (min-width: 768px) {
	.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { 
		border-left:solid 1px rgba(255,255,255,0.10); 
	}

}
/*fin de estilo del footer*/

/*imagen responsiva rol educador en CIDD*/
.img_responsiva_rol{
	width: 100%;
	height: auto;
}
/*fin imagen responsiva rol educador en CIDD*/

/*estilo del dropdown menu*/
.dropdown-menu{
	background-color: #009DE0;
	
}
/*color texto del menu dropdown*/
.dropdown-item{
	color: #fff;
}
/*fin dropdown menu*/


